<h1>Pages#home</h1>
<p>Soon will display </p>
<ul>
  <li>the total amount of money in his/her account (this should be a method which is tested!)</li>
  <li>a link to the list of transactions</li>
  <li>a link to create a new transaction</li>
  <li>The total amount spent in the current calendar month</li>
  <li>The total amount spent in the prior calendar month</li>
  <li>The total number of transactions in the current calendar month</li>
  <li>The total number of transactions in the prior calendar month</li>
  <li>The biggest expense in the current calendar month</li>
  <li>The biggest expense ever</li>
  <li>The name of the place/person where you have spent the most money (over all time)</li>
</ul

<p>
  Deposits array: <%= Deposit.array %>
</p>
<p>
  Deposits: <%= Deposit.total %>
</p>
<p>
  <!-- <%= deposits = @deposits.map{|x| x.amount.to_f} %> -->
</p>

<p>
  <!-- <%= withdrawals = @withdrawals.map{|x| x.amount.to_f} %> -->
</p>

<p>
  <!-- Total: <%= deposits.reduce(:+) - withdrawals.reduce(:+) %> -->
</p>
